/* colours */
:root{
  --primary: #FFE9D2;
  --secondary: #FFE1C4;
  --title: #FF8816;
}

/* layout styles */
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a{
  text-transform: uppercase;
  color: var(--title);
}
nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
}

/* car styles */
.cars{
  margin-top: 20px;
}
.card-panel.car{
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}
.car img{
  grid-area: image;
  max-width: 100px;
}
.car-details{
  grid-area: details;
  margin-left: 15px;
}
.car-delete{
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.car-delete i{
  font-size: 18px;
}
.car-brand, .car-price span{ 
  font-weight: bold;
}
.car-model, .car-price{
  font-size: 0.8em;
}

/* form-styles */
.add-btn{
  background: var(--title) !important;
}
input{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button{
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field{
  margin-top: 30px;
}

.center{
  margin: 1rem 0;
}